@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.heading{
    position:relative;
    top: 50px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
}
.container{
    text-align: center;
}

.button{
  background-color: #a3c89d;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 190px;
}

.button:hover {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  .button {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}
